<div class="block w-full">

<div class="text-center m-12">
<h1 class="text-3xl font-bold center">Welcome to NFT Clubhouse!</h1>
</div>

<div class="text-center">
<%= link_to 'Enter!', '/club', class: "text-white bg-indigo-500 shadow-lg shadow-indigo-500/50 px-5 py-2 hover:bg-indigo-600 active:bg-red-600"%>
</div>
</div>
